@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@100&display=swap');

:root {
    --font-family: 'Montserrat', sans-serif;
    --font-family1: 'Arial', sans-serif;
    --bg-color: #F3F9FB; 
    --primary-color: green;
    --botao-color: yellow;
    --primary-color-cel: blue;
    --bg-color-cel: yellow; 
    --amarelo-degrade: linear-gradient(97.54deg, #ffffe6,  #ffffb3, #ffff80, #ffffb3,  #ffffe6, #ffffb3, #ffff80, #ffffb3,  #ffffe6 );
    --amarelo-degrade1: linear-gradient(to bottom, #ffffe6,  #ffffb3, #ffff80, #ffffb3,  #ffffe6, #ffffb3, #ffff80, #ffffb3,  #ffffe6 );
}

body {
    background-color: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    font-family: var(--font-family1);
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1em;
    margin-top: 20px ;
}

.mensagem {
    font-size: 0.8em;
    margin-top: 20px;
}
.apresentacao {
    font-size: 2em;
    color: var(--primary-color);
}

i {
    font-size: 1.5em;
}

.box {
    border: 2px solid var(--primary-color);
    display: inline-block;
    font-size: 2em;
    padding: 10px;
    margin:  10px;
}
div {
    font-family: var(--font-family1);
}

.btn-jogar {
    padding: 8px 15 px;
    border: 0;
    background: var(--botao-color);
    border-radius: 5px;
    margin-top: 20px;


    color:blue; 
    padding:6px; 
    border-radius:25px; 
    font-weight: bold; 
    background-color: wheat; 
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2); 

}

.fonte-vermelho {
    color:yellow; 
    font-weight: bold;
}

.carrossel__container {
    display: flex;
    margin: 0 10vw 3em 10vw;
    align-items: center;
}

.imagem img {
    width: 120px;
    height:60px;
}

@media screen and (max-width: 500px) {
    body {
        background: var(--amarelo-degrade1);
        color: var(--primary-color-cel);
    }
    h1 {
        font-size: 4em;
    }
    
    h2 {
        font-size: 2em;
    }
    
    h3 {
        font-size: 1em;
        margin-top: 20px ;
    }
    .carrossel__container {
        display: flex;
        flex-direction: column;

        margin: 0 5vw 3em 5vw;
        align-items: center;
    }
    .imagem img {
        width: 50%;
        height:50%;
    }
        
}